.logo-container {
    z-index: 0;
    width: 400px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
    opacity: 0;

    // svg {
    //     width: 100%;
    //     height: auto;
    //     bottom: 0;
    //     transform: rotatez(30deg) !important;
    // }

    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: -375px;
        left: -200px;
        margin: auto;
        width: 150%;
        opacity: 0;
        transform: rotatez(10deg);
        z-index: 1;
        border-radius: 15px;
    }
}
